:root {
    --grisoscuro: #060301;
    --naranja-oscuro: #e63d0a;
    --naranja-oscuro-opacity: #e63d0a0b;
    --celeste-claro: #0484BF;
    --celeste-claro-opacity: #0484bf1e;
    --celeste-oscuro: #082C47;
    --celeste-medio: #215573;
    --blanco-hueso: #f6f6f6;
}

.banner {
    padding-top: 40px;
}

.banner .h1 {
    margin-top: 20px;
}

.banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    margin: auto;
    max-width: 1300px;
}

.banner-title,
.banner-img {
    opacity: 0;
}

.flag {
    display: inline-block;
}

.flag-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: var(--celeste-claro-opacity);
    padding: 7px 15px;
    border-radius: 10px;
    font-weight: 700;
}

.flag img {
    width: 25px;
    margin-right: 10px;
}


/* .banner-button.whatsapp {
    background: #25D366;
}

.banner-button.messenger {
    background: linear-gradient(to right, #0738da, #ca0bc1);
} */

.banner-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-img img {
    max-width: 550px;
}

.steps,
.solutions,
.faq,
.loc {
    padding: 65px 0;
}

.steps .link {
    margin-top: 80px;
}

.steps .title-p {
    margin-bottom: 40px;
}

.steps-container {
    width: 90%;
    margin: auto;
    max-width: 350px;
}

.step-card {
    width: 100%;
    text-align: center;
}

.step-img img {
    width: 80%;
}

.step-des p {
    width: 90%;
    margin: auto;
    margin-top: 10px;
    font-size: 1.1em;
    font-weight: 500;
    line-height: 1.3;
    opacity: 0.7;
}

.step-des a {
    color: var(--celeste-claro);
}

.step-arrow {
    text-align: center;
    padding: 25px 0;
}

.steps-container .last-arrow {
    display: none;
}

.step-arrow .icon {
    width: 55px;
    height: 55px;
    padding: 15px;
    background: var(--celeste-claro-opacity);
    color: #fff;
    border-radius: 50%;
    transform: rotate(90deg);
}

.s-card {
    width: 90%;
    margin: auto;
    max-width: 450px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 4px 10px 40px rgba(255, 255, 255, 0.15);
    border-radius: 15px;
}

.s-title {
    background: var(--celeste-oscuro);
    padding: 35px;
    color: var(--blanco-hueso);
    position: relative;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.s-title h3 {
    font-size: 1.7em;
    font-weight: 800;
}

.s-title p {
    line-height: 1.4;
    margin: 25px 0;
    font-weight: 400;
    font-size: 1.1em;
}

.s-title .more-border {
    background: #fff;
}

.s-title .more-border a {
    color: var(--celeste-oscuro);
}

.s-title .title-img {
    display: none;
}

.s-img img {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-bottom: -5px;
}

.loc-restrictions {
    margin-top: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 45px;
}

.loc-restrictions p {
    font-size: 1.2em;
    font-weight: 500;
}

.loc-img {
    max-width: 500px;
    margin: auto;
}

.loc-img img {
    animation: floating 7s ease infinite;
}

.loc-title ul {
    width: 80%;
    margin: auto;
    text-align: center;
    margin-bottom: 40px;
    max-width: 350px;
}

.loc-title ul li {
    margin: 15px 0;
    list-style: none;
    padding: 8px;
    background: #1ddd0c20;
    color: #319b10;
    font-weight: 600;
    border-radius: 10px;
}

.loc-title ul li .icon {
    margin-left: 4px;
}

.delivery {
    margin-bottom: 40px;
}

.delivery h4 {
    text-align: center;
    font-size: 1.2em;
    margin: 20px 0;
    font-weight: 500;
}

.delivery-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    width: 90%;
    margin: auto;
}

.d-card {
    width: 140px;
    padding: 20px;
    margin: 5px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: var(--celeste-claro-opacity);
    color: var(--celeste-oscuro);
    font-weight: 600;
    text-align: center;
}

.d-card .icon {
    margin-bottom: 15px;
    font-size: 2.8em;
}

.about {
    min-height: 100vh;
    background: var(--celeste-claro);
    padding: 160px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.about::before {
    content: "";
    background: linear-gradient(to bottom, #f6f6f6, #f6f6f600);
    height: 240px;
    width: 100%;
    top: -1px;
    left: 0;
    z-index: 300;
    position: absolute;
}

.about::after {
    content: "";
    background: linear-gradient(to top, #ffffff, #ffffff00);
    height: 240px;
    width: 100%;
    bottom: -1px;
    left: 0;
    z-index: 300;
    position: absolute;
}

.about-container {
    width: 90%;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.counter-card {
    margin-bottom: 55px;
}

.counter {
    font-size: 5em;
    font-weight: 800;
    color: var(--blanco-hueso);
    position: relative;
    text-align: center;
    display: inline-block;
}

.counter::after {
    content: "+";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -45px;
    font-size: 0.7em;
    color: var(--celeste-medio);
    font-weight: 800;
}

.title-counter {
    color: var(--blanco-hueso);
    line-height: 1.2;
}

.title-counter span {
    display: block;
    font-size: 2.8em;
    font-weight: 800;
}

.title-counter p {
    font-size: 1.35em;
    font-weight: 400;
    border-top: 2px solid rgba(0, 0, 0, 0.15);
    width: 70%;
    margin: auto;
    margin-top: 10px;
    padding-top: 10px;
    opacity: 0.6;
}

.faq {
    padding-bottom: 100px;
}

.contact {
    padding-bottom: 100px;
}

.contact-card {
    width: 90%;
    max-width: 450px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background: var(--celeste-claro-opacity);
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 100px;
    padding: 20px;
    overflow: hidden;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
}

.contact-img {
    height: 400px;
    width: 90%;
    margin: auto;
    margin-bottom: -50px;
}

.contact-title .more-border {
    margin-top: 20px;
}

.contact-img img {
    height: 100%;
    width: 100%;
}

.contact-title {
    margin-bottom: 20px;
    font-size: 1.2em;
    line-height: 1.5;
    color: var(--celeste-oscuro);
}

.contact-title h2 {
    font-weight: 800;
}

@media screen and (min-width:760px) {
    .banner .h1 span {
        display: block;
    }
    .banner-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-bottom: 40px;
    }
    .banner-img {
        height: 100%;
    }
    .banner-button {
        font-size: 1em;
    }
    .steps,
    .solutions,
    .faq,
    .loc {
        padding: 80px 0;
    }
    .faq {
        padding-bottom: 100px;
    }
    .contact-container {
        margin-top: -50px;
    }
    .steps .link {
        margin-top: 0;
    }
    .steps-container {
        max-width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin: auto;
    }
    .steps-container .last-arrow {
        display: block;
    }
    .step-arrow {
        transform: rotate(-90deg);
        margin-bottom: 100px;
    }
    .step-card {
        width: 250px;
        height: 250px;
        margin-bottom: 140px;
    }
    .step-img img {
        width: 220px;
        height: 220px;
        object-fit: cover;
        border-radius: 0%;
        margin-bottom: 0;
    }
    .s-card {
        flex-direction: row;
        max-width: 1300px;
        width: 90%;
        margin: auto;
        height: 420px;
        margin-bottom: 40px;
        border-radius: 15px;
        overflow: hidden;
    }
    .s-title {
        width: 50%;
        height: 100%;
        border-radius: 0%;
        order: 1;
    }
    .s-img {
        height: 100%;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        order: 2;
    }
    .s-img img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        border-radius: 0;
        margin: 0;
    }
    .s-img-2 {
        order: 1;
    }
    .s-title-2 {
        order: 2;
    }
    .loc-content {
        width: 90%;
        margin: auto;
        margin-top: 40px;
        max-width: 1100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .loc-img {
        width: 50%;
        order: 1;
    }
    .loc-title {
        width: 50%;
        order: 2;
        height: 100%;
    }
    .loc-title ul {
        width: 100%;
        margin: auto auto 0;
    }
    .loc-title ul li {
        margin: 20px 0;
        font-size: 1em;
        padding: 10px 0;
    }
    .loc-img img {
        width: 100%;
        max-width: 100%;
    }
    .contact-title h2 {
        font-size: 2em;
    }
    .contact-title {
        padding: 25px;
    }
    .contact-title p {
        font-size: 1.3em;
    }
    .contact-card {
        max-width: 570px;
    }
}

@media screen and (min-width:1000px) {
    .banner {
        padding-top: 20px;
        overflow: hidden;
    }
    .banner-img img {
        transform: scale(1.07);
    }
    .banner-container {
        padding-bottom: 20px;
    }
    .banner-button {
        font-size: 1.15em;
        padding: 10px 30px;
        transition: transform 0.4s ease;
    }
    .steps,
    .solutions,
    .faq,
    .loc {
        padding: 80px 0;
    }
    .steps .link {
        margin-top: 20px;
    }
    .steps-container {
        margin-top: 60px;
        max-width: 1300px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .step-des p {
        font-size: 1em;
        opacity: 0.7;
    }
    .step-arrow {
        margin-bottom: 50px;
    }
    .step-card {
        width: 350px;
        height: 350px;
        margin-right: 20px;
        margin-left: 20px;
        margin-bottom: 50px;
    }
    .step-img img {
        width: 270px;
        height: 270px;
    }
    .s-card {
        max-width: 1600px;
        height: 450px;
    }
    .s-title,
    .s-title-2 {
        position: relative;
        display: flex;
        justify-content: start;
        align-items: flex-start;
        flex-direction: column;
    }
    .s-title::after {
        content: "";
        width: 250px;
        background: linear-gradient(to right, var(--celeste-oscuro), #082c4700);
        height: 100%;
        right: -249px;
        top: 0;
        position: absolute;
        z-index: 400;
    }
    .s-title-2::after {
        content: "";
        width: 250px;
        background: linear-gradient(to left, var(--celeste-oscuro), #082c4700);
        height: 100%;
        left: -249px;
        top: 0;
        position: absolute;
        z-index: 400;
    }
    .s-title h3 {
        font-size: 2.2em;
    }
    .s-title p {
        margin: 30px 0;
        font-size: 1.3em;
    }
    .s-title .more-border:hover {
        box-shadow: inset 0 -3.25em 0 0 var(--celeste-claro);
        transform: translateY(-5px);
    }
    .s-title .more-border:hover a {
        color: #fff;
    }
    .s-title .title-img {
        position: absolute;
        bottom: 25px;
        left: 25px;
        width: 100px;
        display: block;
    }
    .s-title.s-title-2 .title-img {
        position: absolute;
        bottom: 25px;
        right: 25px;
        left: auto !important;
        width: 100px;
        display: block;
    }
    .loc-img {
        max-width: 650px;
        margin: auto;
    }
    .loc-restrictions p {
        font-size: 1.6em;
    }
    .loc-title ul {
        width: 90%;
        max-width: 90%;
    }
    .loc-title ul li {
        padding: 15px 0;
        font-size: 1.1em;
        border-radius: 15px;
    }
    .restrictions {
        cursor: pointer;
        margin-top: 35px;
        font-size: 1.3em;
    }
    .restrictions:active {
        transform: scale(0.97);
    }
    .delivery h4 {
        font-size: 1.6em;
    }
    .delivery-container {
        max-width: 1000px;
    }
    .d-card {
        width: 155px;
        padding: 25px;
        margin: 8px;
        font-size: 1.1em;
    }
    .d-card .icon {
        font-size: 3em;
    }
    .about-container {
        flex-direction: row;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 1200px;
        margin: auto;
    }
    .contact-card {
        width: 80%;
        max-width: 1200px;
        flex-direction: row;
        text-align: left;
    }
    .contact-img {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contact-img img {
        width: 70%;
    }
}

@media screen and (min-width:1300px) {
    .flag-container {
        font-size: 1.2em;
        padding: 9px 20px;
    }
    .banner-img img {
        transform: scale(1.1);
        margin-top: 10px;
    }
    .banner-buttons {
        margin-top: 0;
    }
    .banner-buttons span {
        margin-top: 25px;
        padding-top: 25px;
        padding-right: 40px;
        font-size: 1.7em;
        margin-bottom: 10px;
    }
    .banner-button {
        font-size: 1.5em;
        margin-right: 20px;
    }
    .steps .link {
        margin-top: 20px;
    }
    .steps,
    .solutions,
    .faq,
    .loc {
        padding: 100px 0;
    }
    .steps-container {
        margin-bottom: 20px;
        width: 95%;
    }
    .step-card {
        width: 215px;
    }
    .step-des p {
        font-size: 1.05em;
        opacity: 0.6;
        width: 100%;
        font-weight: 500;
    }
    .step-arrow {
        margin: 5px;
    }
    .step-arrow .icon {
        width: 50px;
        height: 50px;
        padding: 13px;
    }
    .steps-container .last-arrow {
        display: none;
    }
    .step-img img {
        width: 95%;
        object-fit: contain;
    }
    .s-card {
        height: 550px;
    }
    .s-title {
        padding: 50px;
    }
    .s-title::after {
        width: 300px;
        right: -299px;
    }
    .s-title-2::after {
        width: 300px;
        left: -299px;
    }
    .s-title h3 {
        font-size: 3em;
    }
    .s-title p {
        font-size: 1.7em;
    }
    .s-title .title-img,
    .s-title.s-title-2 .title-img {
        width: 120px;
    }
    .s-title .title-img {
        left: 45px;
        bottom: 45px;
    }
    .s-title.s-title-2 .title-img {
        right: 45px;
        bottom: 45px;
        left: auto !important;
    }
    .about {
        min-height: 90vh;
    }
    .counter {
        font-size: 6em;
    }
    .loc-title ul li {
        padding: 15px 0;
        font-size: 1.2em;
        border-radius: 15px;
        width: 100%;
    }
    .contact {
        padding-bottom: 200px;
    }
    .contact-title {
        padding: 0;
    }
    .contact-card {
        margin-top: 0;
        padding: 60px;
        width: 80%;
        height: 480px;
        max-width: 1100px;
        flex-direction: row;
        text-align: left;
    }
    .contact h2 {
        font-size: 3em;
    }
    .contact-title p {
        font-size: 1.75em;
    }
    .contact-img {
        height: 100%;
        width: 60%;
        margin-bottom: -40px;
    }
    .contact-img img {
        width: 100%;
        transform: scale(1.15);
    }
}

@media screen and (min-width:1800px) {
    .s-title {
        padding: 70px;
    }
    .counter {
        font-size: 7em;
    }
    .about {
        min-height: 70vh;
    }
    .about::before {
        height: 200px;
    }
    .title-counter span {
        font-size: 2.5em;
    }
    .title-counter p {
        font-size: 1.45em;
        width: 70%;
    }
}