:root {
    --grisoscuro: #060301;
    --naranja-oscuro: #e63d0a;
    --naranja-oscuro-opacity: #e63d0a0b;
    --celeste-claro: #0484BF;
    --celeste-claro-opacity: #0484bf1e;
    --celeste-oscuro: #082C47;
    --celeste-medio: #215573;
    --blanco-hueso: #f6f6f6;
}

.logistics {
    margin-bottom: 200px;
    padding-top: 30px;
    position: relative;
    overflow: hidden;
}

.log-container {
    width: 90%;
    margin: auto;
}

.log-content {
    margin-top: 80px;
    max-width: 450px;
}

.log-title .h1 span {
    display: block;
}

.content-step {
    display: flex;
    margin-bottom: 40px;
}

.float-img {
    display: none;
}

.content-number {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    margin-top: -6px;
}

.content-number:after {
    content: "";
    left: 50%;
    bottom: -7px;
    width: 3px;
    border-radius: 10px;
    height: calc(100% - 60px);
    transform: translateX(-50%);
    position: absolute;
    z-index: 400;
    background: var(--celeste-claro);
}

.content-step:last-child .content-number::after {
    display: none;
}

.content-number span {
    display: inline-block;
    min-width: 40px;
    min-height: 40px;
    border-radius: 50%;
    background: var(--celeste-claro);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--blanco-hueso);
    font-weight: 600;
    font-size: 1.4em;
}

.content-des {
    flex: 4;
    padding-left: 10px;
}

.content-des h3 {
    margin-bottom: 10px;
    word-spacing: 5px;
    font-size: 1.4em;
    color: var(--celeste-oscuro);
    font-weight: 800;
}

.content-des p {
    font-weight: 600;
    color: var(--celeste-medio);
    margin-bottom: 25px;
}

.content-des ul {
    margin-top: 20px;
}

.content-des ul li::marker {
    content: "\2714";
    margin-right: 5px;
    display: inline-block;
}

.content-des ul li {
    margin-bottom: 15px;
    padding-left: 10px;
    color: var(--celeste-medio);
    opacity: 0.7;
}

.content-des ul li a {
    color: var(--celeste-claro);
}

.float-img {
    display: none;
}

.log-contact {
    width: 90%;
    margin: auto;
    margin-top: 40px;
    text-align: center;
    background: var(--celeste-claro-opacity);
    border-radius: 15px;
    padding: 25px;
    padding-bottom: 35px;
}

.log-contact h2 {
    color: var(--celeste-oscuro);
}

.log-contact p {
    color: var(--celeste-oscuro);
    opacity: 0.8;
    font-weight: 500;
    width: 80%;
    margin: auto;
    margin-top: 10px;
    line-height: 1.4;
}

.log-contact p span {
    display: block;
}

.log-contact .banner-button-container {
    justify-content: center;
    margin-top: 25px;
}

.log-contact .banner-button {
    font-size: 0.8em;
    padding: 10px 15px;
    transform: scale(1.06);
    margin: 7px;
}

@media screen and (min-width:768px) {
    .log-title {
        padding-left: 30px;
    }
    .log-title .h1 {
        font-size: 3.4em;
    }
    .log-container {
        width: 68%;
        max-width: 900px;
    }
    .log-content {
        max-width: 90%;
        line-height: 1.5;
    }
    .content-number {
        margin-top: -10px;
    }
    .content-number span {
        width: 55px;
        height: 55px;
        font-size: 1.5em;
    }
    .content-number:after {
        bottom: -13px;
    }
    .content-des h3 {
        font-size: 1.7em;
        margin-bottom: 15px;
    }
    .content-des p,
    .content-des ul li {
        font-size: 1.2em;
    }
    .content-des ul li {
        margin-bottom: 20px;
    }
    .services-img {
        display: block;
        position: absolute;
    }
    .services-img img {
        width: 170px;
    }
    .services-img.one {
        top: 3%;
        right: 0;
        transform: translateX(42%) rotate(-7deg);
    }
    .services-img.two {
        top: 19%;
        left: 0;
        transform: translateX(-40%) rotate(5deg) rotateY(180deg);
    }
    .services-img.three {
        top: 40%;
        right: 0;
        transform: translateX(42%) rotate(-7deg);
    }
    .services-img.four {
        top: 56%;
        left: 0;
        transform: translateX(-40%) rotate(5deg) rotateY(180deg);
    }
    .services-img.five {
        top: 72%;
        right: 0;
        transform: translateX(42%) rotate(-7deg);
    }
    .log-contact p {
        font-size: 1.3em;
    }
    .log-contact .banner-button {
        font-size: 1em;
        margin: 10px;
    }
}

@media screen and (min-width:1000px) {
    .log-title .h1 {
        font-size: 4em;
    }
    .log-container {
        width: 60%;
    }
    .content-number {
        margin-top: 0px;
    }
    .content-number span {
        width: 60px;
        height: 60px;
        font-size: 1.7em;
    }
    .content-number:after {
        bottom: -15px;
    }
    .content-des {
        flex: 6;
        padding-left: 20px;
    }
    .content-des h3 {
        font-size: 2.2em;
    }
    .content-des p,
    .content-des ul li {
        font-size: 1.4em;
    }
    .float-img {
        width: 280px;
    }
    .log-contact p {
        font-size: 1.5em;
        width: 70%;
    }
    .log-contact .banner-button {
        font-size: 1.2em;
        padding: 10px 25px;
        transition: transform 0.3s ease;
        margin: 0 10px;
    }
    .services-img img {
        width: 220px;
    }
}

@media screen and (min-width:1300px) {
    .log-title {
        padding-left: 50px;
    }
    .log-title .h1 {
        font-size: 4.8em;
    }
    .content-number span {
        width: 75px;
        height: 75px;
        font-size: 2.2em;
    }
    .content-number:after {
        bottom: -5px;
        height: calc(100% - 100px);
    }
    .content-des {
        padding-left: 35px;
    }
    .content-des h3 {
        font-size: 2.5em;
    }
    .content-des p,
    .content-des ul li {
        font-size: 1.6em;
    }
    .content-des ul li {
        margin-bottom: 30px;
    }
    .float-img {
        width: 320px;
    }
    .log-contact {
        padding: 40px;
        margin-bottom: 130px;
        border-radius: 20px;
    }
    .log-contact p {
        font-size: 1.8em;
        width: 70%;
        margin-bottom: 35px;
    }
    .log-contact .banner-button {
        font-size: 1.5em;
        margin: 0 13px;
    }
    .services-img img {
        width: 340px;
    }
}